@charset "utf-8";

:root {
  --corprincipal: #00008b;
  --corsegundaria: #003366;
  --cordestaque: #8b0000;
  --textoprincipal: #212121;
  --textosecundario: #343434;
  --cordolira: #dc3c14;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(to top,var(--corprincipal),var(--cordestaque));
  background-position: top;
  background-repeat: no-repeat;
}
